/**---- basic -----*/
*
{
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    color: #707070;
}

body, html{
  height: 100%;
  margin: 0;
  background-color: #F8FEFF;
}

h3{
  color: #707070;
  font-size: x-large;
  font-weight: bold;
}

/**------ tab design-------*/

.tab_container{
  display: flex;
  flex-direction: column;
}

/* Style the tab buttons */
.tablink {
  background-color: #FEFCE9;
  color: #707070;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: x-large;
  font-weight: bold;
  width: 25%;
  height: fit-content;
  justify-content: center;
}

.head_button{
  width: 100%;
  background-color: #FEFCE9;
  border: none;
  border-bottom: solid;
  border-top: solid;
  border-color: #E68235;
  height: fit-content;
  display: flex;
  justify-content:space-around ;
}

.tablink:focus{
    outline: 0;
    outline-style:none;
    outline-width:0;
}

#top_ten_link{
  color: #E68235;
}

/* Change background color of buttons on hover */
.tablink:hover {
  color: #E68235;
}

/* Set default styles for tab content */
.tabcontent {
  color: #707070;
  display: none;
  padding: 50px;
  text-align: center;
}



.title_container{
  display: flex;
  flex-direction: column;
}

/**------ search barre -------*/

.search_container{
text-align: center;
margin-bottom: 10px;
}

.search_button{
  background: none;
  outline: 0;
  outline-style:none;
  outline-width:0;
  border: none;
  position: relative;
  right: 40%;
  bottom: 5px;
}

.search_text{
  border-radius: 15px;
  border-color: #E68235;
  border-width: 3px;
  width: 40%;
  height: 40px;
  font-size: x-large;
}

.search_text:focus{
  outline: 0;
  outline-style:none;
  outline-width:0;
}

.search_img{
  width: 25px;
}





/* ------ card ------**/

.tab{
  margin-left: 10px;
  margin-right: 10px;
}
.top_ten_container{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.title_top_ten{
text-align: center;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 170px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    text-align: center;
    font-family: arial;
    border-bottom: solid;
    border-bottom-color: #E68235;
    background-color: #FEFCE9;
  }
  
  .price {
    color: grey;
    font-size: large;
  }
  
  .card {
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #FEFCE9;
    font-size: large;
  }

  .heart_button{
    border: none;
    outline: 0;
    outline: none;
    cursor: pointer;
    width: 15px;
    background-color: #FEFCE9;
  }

  .heart_button:focus{
    border: none;
    outline: none;
    outline-width: 0;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

.card_bottom
{
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.card_product_description
{
  margin: auto;
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-bottom: 10px;
  color: black;
  
}

.product
{
  width:100%;
  display: flex;
}

.project
{
  width:100%;
  display: flex;
}

.sellers{
  width:100%;
  display: flex;

}

#top_ten{
  display: flex;
  justify-content:space-between ;
}

.row::after 
{
  content: "";
  clear: both;
  display: table;
}

.img_card
{
  width: 90%;
  height: 150px;
  object-fit: cover;
  border: solid;
  border-width: 0.5px;
  border-color:#E68235;
  margin-top: 5px;
}

.icon_heart{
  background-color: #FEFCE9;
  outline: none;
  border: none;
}


/**--------- ad place --------*/

.container_advertisement_image{
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
}

.mask_advertisement_image{
  mask-image: url(source/icones/tracee3.svg);
  mask-size: cover;
  -webkit-mask: url(source/icones/tracee3.svg);
  -webkit-mask-size: cover;
  width: 100%;
  height: 100%;
}

.advertisement_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: solid;
  border-top: solid;
  border-color: #E68235;
}

.dot_container{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-color: #FEFCE9;
  border: none;
  border-width: 0.5px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.active, .dot:hover {
  background-color: #3598E6;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  bottom: 50%;
  width: auto;
  padding: 16px;
  color: #FEFCE9;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  left: 93%;
  border-radius:  0 3px 3px 0 ;
}

.nextPicProduct{
  left: 50%;
  background-color: #E68235;
  color: #FEFCE9;
}

.prev {
  left: 3%;
  border-radius: 3px 0 0 3px;
}

.prevPicProduct{
  background-color: #E68235;
  color: #FEFCE9;
}

.prev:hover, .next:hover {
  background-color: #E68235;
  color: #FEFCE9;
}

.my_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

/**------ footer ------------*/

.img_footer{
  height: 150px;
  background-image: url(source/icones/trace1.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  font-size: medium;
  color: black;
  font-weight: bold;
}

#about_us{
  position: relative;
  top: 90px;
}

#policy{
  position: relative;
  top: 45px;
  display: flex;
  flex-direction: column;
}

#our_policy{
  margin-bottom: 40%;
}

#contact{
  position: relative;
  top: 20px;
}

.link_footer{
  font-size: medium;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.link_footer:hover{
  color: #E68235;
}

/**-------- header--------*/

.header_class{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.logo{
  width: 80px;
  margin-left: 35px;
}

.mask_circle{
  mask-image: url(source/icones/circle.svg);
  mask-size: cover;
  -webkit-mask: url(source/icones/circle.svg);
  -webkit-mask-size: cover;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}


.img_profile{
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.img_profile:hover{
  opacity: 0.7;
}

#current_page{
  color: #E68235;
}

.header_link{
  width: 30%;
  color: #707070;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  justify-content: space-around;
}

.profile_container{
  display: flex;
  margin-right: 30px;
}
.cart_img{
  width: 30px;
  justify-content: center;
}
.number_item{
  position: relative;
  left: 45%;
  bottom: 20%;
  color: #E68235;
  font-size: large;
}

.cart_link{
  text-decoration: none;
}

.cart_container{
  position: relative;
  top: 25%;
}

.header_specific_link{
  color: #707070;
  text-decoration: none;
}

.header_specific_link:hover{
  color: #E68235;
  text-decoration: none;
}


/**----------- profile page ----------------*/
.profile_container{
  display: flex;
  justify-content: center;
}

.profile_table{
width: 40%;
height: auto;
display: flex;
justify-content: center;
border: solid;
border-radius: 15px  0 0 15px;
margin-right: 15px;
border-color: #BDDFF7;
}

#table_data{
  width: 100%;
  height: 100%;
  border-spacing: 100px;
  border-radius: 15px  0 0 15px;
}

th{
  border-right: solid;
  border-color: #BDDFF7;
  padding: 15px;
  background-color: #E4F2FB;
}

#first_row{
  border-radius: 15px  0 0 0;
}
#last_row{
  border-radius: 0 0 0 15px;

}

td{
  padding: 15px;
}

.myContent{
  color: #707070;
}


#profile_picture_principal{
  width: 20%;
  border-radius: 0 15px 15px 0;
  border: solid;
  border-color: #BDDFF7;
  object-fit: scale-down;
}

.my_button_edit{
  background-color: #FEFCE9;
  border: solid;
  border-color: #E68235;
  border-radius: 15px;
  width: 10%;
  color: #707070;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  
}

.my_button_edit:focus{
  outline: none;
  outline-width: 0px;
}

.profile_container_data{
  display: flex;
  flex-direction: column;
}



/****** Product page **/

.product_page_text{
background-color: #BDDFF7;
text-align: left;
font-size: 20px;
margin:10px;
}

.delivery_price_text{

  margin:10px;

}

.checked_star{

  color: yellow;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #f1f1f1;
}

/**-------chart------------*/
#principalChartContainer {

  width: 100%;
  border-radius: 10px 0 0 0;
}
#creditContainer{
  width: 100%;
  border-radius: 0 10px 0 0;
}

.side_container{
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
}

.second_side_container{
  background-color: #E4F2FB;
  height: 120px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: auto;
}
#myLegend{
  text-align: left;
}

.withdraw_container{
  display: flex;
  flex-direction: column;
}
.withdraw_number{
  text-align: right;
  margin: auto;
  width: 90%;
}
.withdraw_button{
  margin: auto;
  width: 80%;
  border-radius: 15px;
  border: solid;
  border-color: #E68235;
  border-width: 3px;
  margin-top: 5px;
  background-color: #FEFCE9;
}

.withdraw_button:focus{
  border: solid;
  border-color: #E68235;
  border-width: 3px;
  outline: none;
  outline-width: 0;
  width: 90%;
}
#seller_profile{
  display: flex;
}

.innerTab{
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.innertablink{
  background-color: #F8FEFF;
  border: none;
  outline-width: none;
  font-size: larger;
  font-weight: bold;
}

.innertablink:hover{
  color: #E68235;
}
.innertablink:focus{
  outline: none;
  border: none;
  color: #E68235;
}

.myChartDiv{
  display: flex;
  width: 35% ;
  justify-content: space-between;
  
}

.highcharts-figure, .highcharts-data-table table {
    width: 100%;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/**--------------------seller profile product----------------------------------*/

.product_project_container{
  width: 70%;
  margin: auto;
}

.personalProduct{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#myOwnProductDefault{
  display: flex;
  flex-direction: column;
}

.my_button_add_product{
  background-color: #FEFCE9;
  border: solid;
  border-color: #E68235;
  border-radius: 15px;
  width: 40%;
  color: #707070;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
}

.my_button_add_product:focus{
  outline: none;
  outline-width: 0px;
}

.innerTabContent{
  color: #707070;
  display: none;
  padding: 50px;
  text-align: center;
}


/**---------------------------------------------------------------------*/
.dropSide{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;

}

.logoDropZone{
  width: 50px;
}

.dropZone{
  width: 100%;
  height: 150px;
  border: 10px dashed;
  text-align: center;
  margin-top: 20px;
  border-color: #707070;
}

.dropZone.dragover{
  border-color: #E68235;
  background-color: #BDDFF7;
}

.addproductcontainer{
  display: flex;
  justify-content: space-around;
}

.progressbar{
  counter-reset: step;
  width: 300px;
  margin: auto;
}

.progressbar li{
  list-style-type: none;
  float: left;
  width: 50%;
  position: relative;
  text-align: center;
}

.progressbar li::before{
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #707070;
  display: block;
  text-align: center;
  margin: 10px auto 10px auto;
  border-radius: 50%;
  background-color: white;
 
}
.progressbar li::after{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #707070;
  top: 30px;
  left: -25%;
}
.progressbar li:first-child::after{
  content: none;
}

.progressbar li.actual_step {
  color: #E68235;
}
.progressbar li.actual_step::before{
  border-color: #E68235;
}

.progressbar li.actual_step + li::after{
  background-color: #E68235;
}

.totalContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#secondStepAddProduct{
  display: none;
}

.secondStepAddProductDisplayed{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.recommendationContainer{
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #E4F2FB;
  margin-left: 1%;
  margin-right: 1%;
  height: 450px;
  overflow: auto;
  transition: color .3s ease;
  border-radius: 10px;
  padding: 15px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}

recommendationContainer:hover {
  color: rgba(0, 0, 0, 0.3);
}



.containerBuyerProfile{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.historicContainer{
  display: flex;
  flex-direction: column;
  width: 72%;
  margin-right: 1%;
}

/**-------------historical card--------------------*/
.historicalCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.firstBand{
  display: flex;
  justify-content: space-around;
  background-color: #FEFCE9;
  border: solid;
  border-color: #E68235;
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
}

.bill{
  display: flex;
  flex-direction: column;
}
.secondBand{
  display: flex;
  justify-content: space-around;
  border: solid;
  border-color: #E68235;
  background-color: white;
}

.pictureProduct{
  width: 150px;
  object-fit: cover;
  height: 150px;
}

.secondContainerSecondBand{
  display: flex;
  flex-direction: column;
}
.secondContainerButton{
  display: flex;
  justify-content: space-between;
}

.lastContainerSecondBand{
  display: flex;
  flex-direction: column;
}

.button_history{
  border: solid;
  border-color: #E68235;
  border-width: 3px;
  background-color: #FEFCE9;
  border-radius: 15px;
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.innerBuyerTabContent{
  display: none;
}

/**-------------- edit profile ----------------*/

/* The popup form - hidden by default */
.form-popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 9;
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: auto;
  margin-top: 10px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.saveclose{
  width: 100%;
}

.saveclose:hover{
  cursor:pointer
}